@import '../assets/variables';

.wrapper {
  position: relative;
  .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10px;
    right: 10px;

    mat-icon {
      color: $white-color;
    }
  }
}
